---
title: Categories
layout: default
---
<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- USE SIDEBAR -->
    <!-- Sidebar Container -->
    <div class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-sm-12
        col-xs-12 sidebar-container">
      {% include sidebar-search.html %}
      <!-- categories -->
      <section>
        <h3><a href="{{'/categories/#categories/' | prepend: site.baseurl }}">Categories</a></h3>
        <div class="tags">
          Show All | {{site.posts.size}}
        </div>
        <hr>
        <div class="tags">
          {% capture categories %}
          {% for cat in site.categories %}
          <a data-sort="{{ site.posts.size | minus: cat[1].size | prepend: '0000' | slice: -4, 4 }}"
            data-encode="{{ cat[0] | strip | url_encode }}"
            href="{{ site.baseurl }}/categories/?categories={{ cat[0] | url_encode }}" class="tag-button"
            title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} / {{ cat[1].size }}</a>__SEPARATOR__
          {% endfor %}
          {% endcapture %}
          {{ categories | split:'__SEPARATOR__' | sort }}
        </div>
      </section>

      <!-- Short About -->
      {% include short-about.html %}

      <!-- Friends Blog -->
      {% include friends.html %}

      <!-- Ads -->
      {% include ads.html %}
    </div>

    <!-- PostList Container -->
    <div class="col-lg-8 col-lg-offset-0 col-md-8 col-md-offset-0 col-sm-12
        col-xs-12 postlist-container">
      <!-- Article List -->

      {%- for _article in site.posts -%}
      {%- assign _categories = '' -%}
      {%- for _cat in _article.categories -%}
      {%- assign _cat_encode = _cat | strip | url_encode -%}
      {%- if forloop.last -%}
      {%- assign _categories = _categories | append: _cat_encode -%}
      {%- else -%}
      {%- assign _categories = _categories | append: _cat_encode | append: ',' -%}
      {%- endif -%}
      {%- endfor -%}

      {%- assign _currentcat = _article.categories -%}
      {%- if _currentcat != _date -%}
      {%- unless forloop.first -%}</section>{%- endunless -%}
      <section>
        <span class="fa listing-seperator">
          <span class="tag-text">{{ _currentcat }}</span>
        </span>
        {%- assign _date = _currentcat -%}
        {%- endif -%}

        <div class="post-preview item" data-categories="{{ _categories }}">
          <a href="{{ _article.url | prepend: site.baseurl }}">
            <h2 class="post-title">
              {{ _article.title }}
            </h2>
            {% if _article.subtitle %}
            <h3 class="post-subtitle">
              {{ _article.subtitle }}
            </h3>
            {% endif %}

          </a>
          <p class="post-meta">
            {{ _article.categories }}  |  Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ _article.date |
            date:"%B %-d, %Y" }}
          </p>
        </div>
        {%- if forloop.last -%}
      </section>{%- endif -%}
      {% endfor %}
    </div>
  </div>
</div>

{% if site.page-mathjax %}
<!-- Add support for Mathjax by Voleking-->
<!-- If you want to see formulars well in post preview, Maybe you should add this.-->
<!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: {
        equationNumbers: {
          autoNumber: "AMS"
        }
      },
      tex2jax: {
        inlineMath: [ ['$','$'] ],
        displayMath: [ ['$$','$$'] ],
        processEscapes: true,
      }
    });
  </script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}