---
title: categories
layout: default
---
<!-- Page Header -->
{% include intro-header.html type='page' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- USE SIDEBAR -->

    <!-- PostList Container -->
    <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12
        col-xs-12 postlist-container">
      <!-- Article List -->

      {%- assign _sorted_list = site.posts -%}
      {%- assign _sorted_list = _sorted_list | sort: 'date' -%}
      {%- assign _sorted_list = _sorted_list | reverse -%}


      {%- for _article in _sorted_list -%}
      {%- assign _categories = '' -%}
      {%- for _cat in _article.categories -%}
      {%- assign _cat_encode = _cat | strip | url_encode -%}
      {%- if forloop.last -%}
      {%- assign _categories = _categories | append: _cat_encode -%}
      {%- else -%}
      {%- assign _categories = _categories | append: _cat_encode | append: ',' -%}
      {%- endif -%}
      {%- endfor -%}

      {% comment %} group by year {% endcomment %}
      {%- assign _currentdate = _article.date | date: '%Y' -%}
      {%- if _currentdate != _date -%}
      {%- unless forloop.first -%}</section>{%- endunless -%}
      <section>
        <span class="fa listing-seperator">
          <span class="tag-text">{{ _currentdate }}</span>
        </span>
        {%- assign _date = _currentdate -%}
        {%- endif -%}

        <div class="post-preview item" data-tags="{{ _categories }}">
          <a href="{{ _article.url | prepend: site.baseurl }}">
            <h2 class="post-title">
              {{ _article.title }}
            </h2>
            {% if _article.subtitle %}
            <h3 class="post-subtitle">
              {{ _article.subtitle }}
            </h3>
            {% endif %}
          </a>
        </div>
        {%- if forloop.last -%}
      </section>{%- endif -%}
      {% endfor %}














    </div>
    <!-- Sidebar Container -->
    <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12
        col-xs-12 sidebar-container">
      {% include sidebar-search.html %}
      <!-- categories -->
      <section>
        {% if include.bottom %}
        <hr class="hidden-sm hidden-xs">
        {% endif %}
        <h5><a href="{{'/categories/#categories/' | prepend: site.baseurl }}">Categories</a></h5>
        <div class="tags">
          {% capture categories %}
          {% for cat in site.categories %}{% if cat[1].size > 0 %}
          <a data-sort="{{ site.posts.size | minus: cat[1].size | prepend: '0000' | slice: -4, 4 }}"
            href="{{ site.baseurl }}/categories/?categories={{ cat[0] | url_encode }}" title="{{ cat[0] }}"
            rel="{{ cat[1].size }}">{{ cat[0] }} / {{ cat[1].size }}</a>__SEPARATOR__
          {% endif %}{% endfor %}
          {% endcapture %}
          {{ categories | split:'__SEPARATOR__' | sort }}
        </div>
      </section>

      <!-- Short About -->
      {% include short-about.html %}

      <!-- Friends Blog -->
      {% include friends.html %}

      <!-- Ads -->
      {% include ads.html %}
    </div>
  </div>
</div>

{% if site.page-mathjax %}
<!-- Add support for Mathjax by Voleking-->
<!-- If you want to see formulars well in post preview, Maybe you should add this.-->
<!-- However, most of the time formulars may not appear in the post preview, you can delete it.-->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: {
        equationNumbers: {
          autoNumber: "AMS"
        }
      },
      tex2jax: {
        inlineMath: [ ['$','$'] ],
        displayMath: [ ['$$','$$'] ],
        processEscapes: true,
      }
    });
  </script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}